@model web.Models.Creda

@{
    ViewData["Title"] = "Dodaj čredo";
}

<h1>Dodaj čredo</h1>

<h4>Čreda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CredeID" class="control-label"></label>
                <input asp-for="CredeID" class="form-control" />
                <span asp-validation-for="CredeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opombe" class="control-label"></label>
                <input asp-for="Opombe" class="form-control" />
                <span asp-validation-for="Opombe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ustvari" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>

