@model web.Models.Kotitev

@{
    ViewData["Title"] = "Dodaj kotitev";
}

<h1>Dodaj kotitev</h1>

<h4>Kotitev</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DatumKotitve" class="control-label"></label>
                <input asp-for="DatumKotitve" class="form-control" />
                <span asp-validation-for="DatumKotitve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OvcaID" class="control-label"></label>
                <select asp-for="OvcaID" class ="form-control" asp-items="ViewBag.OvcaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OvenID" class="control-label"></label>
                <select asp-for="OvenID" class ="form-control" asp-items="ViewBag.OvenID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SteviloMrtvih" class="control-label"></label>
                <input asp-for="SteviloMrtvih" value="0" class="form-control" />
                <span asp-validation-for="SteviloMrtvih"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opombe" class="control-label"></label>
                <input asp-for="Opombe" class="form-control" />
                <span asp-validation-for="Opombe" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" id="buttonDodaj" value="Dodaj" class="btn btn-primary"/>
           </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazaj na seznam</a>
</div>

